{% extends "base.html" %}

{% block page_content %}
<center>
<main role="main" class="inner cover">
    <h1 class="cover-heading">The RFK Community Project.</h1>
    <p class="lead">If you're reading this, you're helping to create a site that will empower
        DC residents to express their vision for the future of RFK Stadium. Thank you!

    </p>
    <p class="lead">
      <a href="https://github.com/codefordc/rfk-community" class="btn btn-lg btn-secondary" target="_blank">Our Github</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Created by a team at <a href="https://codefordc.org/" target="_blank">Code for DC</a>.</p>
    </div>
  </footer>
</div>
</center>
{% endblock %}